[submodule "vim/external/nerdtree"]
	path = vim/external/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/external/vim-rails"]
	path = vim/external/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/external/vim-surround"]
	path = vim/external/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/external/vim-cucumber"]
	path = vim/external/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vim/external/vim-endwise"]
	path = vim/external/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/external/vim-haml"]
	path = vim/external/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim/external/snipmate.vim"]
	path = vim/external/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/external/nerdcommenter"]
	path = vim/external/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
