# Global snippets

snippet dragon
	##        .==.        .==.
	##       //'^\\      //^'\\
	##      // ^ ^\(\__/)/^ ^^\\
	##     //^ ^^ ^/6  6\ ^^ ^ \\
	##    //^ ^^ ^/( .. )\^ ^ ^ \\
	##   // ^^ ^/\| v""v |/\^ ^ ^\\
	##  // ^^/\/ /  '~~'  \ \/\^ ^\\
	##  -----------------------------
	##  HERE BE DRAGONS
